.click {
  width: 120px;
  height: 80px;
  border: none;
  background: white;
  color: red;
  font-size: medium;
  cursor: pointer;
}
.nonclick {
  width: 120px;
  height: 80px;
  border: none;
  background: white;
  color: black;
  font-size: medium;
  cursor: pointer;
}
