.ehover{
    width: 1395px;
    height: 550px;
    margin-bottom: 15;
    border-radius: 7px;
    background:rgb(252, 247, 250);
    opacity:0;
    position:absolute;
    color:black;
    text-align:center;
    line-height:550px;
    font-size: 20px;
    padding: 0px 100px;
    overflow:hidden;
    &:hover{
        opacity: 0.8;
        cursor:pointer;
    }
}

.ehover2{
    width: 650px;
    height: 350px;
    margin-bottom: 15;
    border-radius: 7px;
    background:rgb(252, 247, 250);
    opacity:0;
    position:absolute;
    color:black;
    text-align:center;
    line-height:350px;
    font-size: 20px;
    overflow:hidden;
    &:hover{
        opacity: 0.8;
        cursor:pointer;
    }
}
.ehover3{
    width: 650px;
    height: 600px;
    margin-bottom: 15;
    border-radius: 7px;
    background:rgb(252, 247, 250);
    opacity:0;
    position:absolute;
    color:black;
    text-align:center;
    line-height:600px;
    font-size: 20px;
    overflow:hidden;
    &:hover{
        opacity: 0.8;
        cursor:pointer;
    }
}
.ppcheck{
    width: 395px;
    height: 135px;
    position:absolute;
    background: gray;
    opacity: 0;
    &:hover{
        opacity: 0.1;
        cursor:pointer
    }
}
.pcheck{
    width: 1135px;
    height: 155px;
    position:absolute;
    background: lightgray;
    opacity: 0;
    &:hover{
        opacity: 0.1;
        cursor:pointer
    }
}
.dib1{
    margin-top:10px;
    height:70px;
    text-align:center;
    line-height: 70px;
    cursor:pointer;
    border-radius: 0px 0px 10px 10px;
    &:hover{
        background-color: rgb(255, 243, 243);
    }
}

@keyframes scaling {
    from {
      transform: scaleY(1.15);
    } to {
      transform: scaleY(1);
    }
}

.dib2{
    position:fixed;
    bottom:280px; 
    right:18px; 
    font-size:"40px";
    cursor:pointer;
    &:hover{
        animation: scaling 0.5s ease-in-out infinite;
    }
}

